ServerSideServices/Web References/pttTopluSorgulamaV2/GonderiTakip.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ax21="http://kp.ptt.gov.tr/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://kp.ptt.gov.tr" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://kp.ptt.gov.tr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://kp.ptt.gov.tr/xsd">
      <xs:complexType name="KurumRumuzSorguInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="ilk_Barkod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="musteriId" type="xs:int" />
          <xs:element minOccurs="0" name="rezerv1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rezerv2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rezerv3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="son_Barkod" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="KurumRumuzSorgu">
        <xs:sequence>
          <xs:element minOccurs="0" name="SONUC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="musteri_id" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="safahatlar" nillable="true" type="ax21:GonderiSafahat" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GonderiSafahat">
        <xs:sequence>
          <xs:element minOccurs="0" name="BARKOD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IMERK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISLEM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ITARIH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REZERVE_SONUC1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REZERVE_SONUC2" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax22="http://kp.ptt.gov.tr/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://kp.ptt.gov.tr">
      <xs:import namespace="http://kp.ptt.gov.tr/xsd" />
      <xs:element name="gonderiSorgula">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="input" nillable="true" type="ax22:KurumRumuzSorguInput" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="gonderiSorgulaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax22:KurumRumuzSorgu" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="gonderiSorgulaRequest">
    <wsdl:part name="parameters" element="ns:gonderiSorgula" />
  </wsdl:message>
  <wsdl:message name="gonderiSorgulaResponse">
    <wsdl:part name="parameters" element="ns:gonderiSorgulaResponse" />
  </wsdl:message>
  <wsdl:portType name="GonderiTakipPortType">
    <wsdl:operation name="gonderiSorgula">
      <wsdl:input wsaw:Action="urn:gonderiSorgula" message="ns:gonderiSorgulaRequest" />
      <wsdl:output wsaw:Action="urn:gonderiSorgulaResponse" message="ns:gonderiSorgulaResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GonderiTakipSoap11Binding" type="ns:GonderiTakipPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="gonderiSorgula">
      <soap:operation soapAction="urn:gonderiSorgula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GonderiTakipSoap12Binding" type="ns:GonderiTakipPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="gonderiSorgula">
      <soap12:operation soapAction="urn:gonderiSorgula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GonderiTakipHttpBinding" type="ns:GonderiTakipPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="gonderiSorgula">
      <http:operation location="gonderiSorgula" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GonderiTakip">
    <wsdl:port name="GonderiTakipHttpSoap11Endpoint" binding="ns:GonderiTakipSoap11Binding">
      <soap:address location="http://pttws.ptt.gov.tr:7026/TopluTakipV2/services/GonderiTakip.GonderiTakipHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="GonderiTakipHttpSoap12Endpoint" binding="ns:GonderiTakipSoap12Binding">
      <soap12:address location="http://pttws.ptt.gov.tr:7026/TopluTakipV2/services/GonderiTakip.GonderiTakipHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="GonderiTakipHttpEndpoint" binding="ns:GonderiTakipHttpBinding">
      <http:address location="http://pttws.ptt.gov.tr:7026/TopluTakipV2/services/GonderiTakip.GonderiTakipHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>