AvukatProLib.Hesap/Web References/DovizAPI/AVP_NG_DOVIZ_SOAP_API_NENC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GunlukKurGetir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="gun" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GunlukKurGetirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GunlukKurGetirResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GunlukKurGetirSoapIn">
    <wsdl:part name="parameters" element="tns:GunlukKurGetir" />
  </wsdl:message>
  <wsdl:message name="GunlukKurGetirSoapOut">
    <wsdl:part name="parameters" element="tns:GunlukKurGetirResponse" />
  </wsdl:message>
  <wsdl:portType name="AVP_NG_DOVIZ_SOAP_API_NENCSoap">
    <wsdl:operation name="GunlukKurGetir">
      <wsdl:input message="tns:GunlukKurGetirSoapIn" />
      <wsdl:output message="tns:GunlukKurGetirSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AVP_NG_DOVIZ_SOAP_API_NENCSoap" type="tns:AVP_NG_DOVIZ_SOAP_API_NENCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GunlukKurGetir">
      <soap:operation soapAction="http://tempuri.org/GunlukKurGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AVP_NG_DOVIZ_SOAP_API_NENCSoap12" type="tns:AVP_NG_DOVIZ_SOAP_API_NENCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GunlukKurGetir">
      <soap12:operation soapAction="http://tempuri.org/GunlukKurGetir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AVP_NG_DOVIZ_SOAP_API_NENC">
    <wsdl:port name="AVP_NG_DOVIZ_SOAP_API_NENCSoap" binding="tns:AVP_NG_DOVIZ_SOAP_API_NENCSoap">
      <soap:address location="http://192.9.0.145/AVPNG/AVP_NG_DOVIZ_SOAP_API_NENC.asmx" />
    </wsdl:port>
    <wsdl:port name="AVP_NG_DOVIZ_SOAP_API_NENCSoap12" binding="tns:AVP_NG_DOVIZ_SOAP_API_NENCSoap12">
      <soap12:address location="http://192.9.0.145/AVPNG/AVP_NG_DOVIZ_SOAP_API_NENC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>